{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eleve list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Logo</th>
                <th>Adresse</th>
                <th>Tel</th>
                <th>Mail</th>
                <th>Datenaissance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for eleve in eleves %}
            <tr>
                <td><a href="{{ path('eleve_show', { 'id': eleve.id }) }}">{{ eleve.id }}</a></td>
                <td>{{ eleve.nom }}</td>
                <td>{{ eleve.prenom }}</td>
                <td>{{ eleve.logo }}</td>
                <td>{{ eleve.adresse }}</td>
                <td>{{ eleve.tel }}</td>
                <td>{{ eleve.mail }}</td>
                <td>{% if eleve.dateNaissance %}{{ eleve.dateNaissance|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('eleve_show', { 'id': eleve.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('eleve_edit', { 'id': eleve.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('eleve_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
