{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eleve</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ eleve.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ eleve.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ eleve.prenom }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ eleve.logo }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ eleve.adresse }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ eleve.tel }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ eleve.mail }}</td>
            </tr>
            <tr>
                <th>Datenaissance</th>
                <td>{% if eleve.dateNaissance %}{{ eleve.dateNaissance|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('eleve_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('eleve_edit', { 'id': eleve.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
